*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, Arial, sans-serif;
    background-color: rgb(255 252 249);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header{
    margin: 0 auto;
}
main{
    max-width: 500px;
    margin: 1rem;
    background-color: #555;
    color: #fff;
}

h1{
    margin: 1rem;
}

form{
    background-color: #ddd;
    color: #111;
}

input, textarea, select{
    padding: .75rem;
    width: 350px;
}

button{
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0 0 0 / 10%);
}
code{
    display: block;
    background-color: #ddd;
    color: #fff;
}

.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item{
    border: none;
}