*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: darkblue;
    --color-light: white;
    --color-dark: #333;
    --color-border: black;
    --color-shadow: gray;
    --colo-bg-light: #eee;
    --color-accent: steelblue;

    --img-width-main: 150px;
    --img-width-aside: 200px;

    --space-xs: 2px;
    --space-s: 10px;
    --space-m: 20px;
    --space-l: 1em;

    -border-thin: 1px solid var(--color-border);
}
main {
    max-width: 840px
}
nav {
    background-color: var(--color-primary);
    padding: var(--space-m);
}
nav a {
    color: var(--color-light);
    display: block;
    padding: var(--space-m);
}
h1 {
    color: var(--color-primary);
}
img {
    width: var(--img-width-main);
    height: auto;
    border: var(--border-thin);
    padding: var(--space-xs);
    box-shadow: 0 0 30px var(--color-shadow);
}
p {
    padding: var(--space-s);
}
aside {
    position: relative;
    width: 20em;
    text-align: center;
}
aside h2 {
    position: absolute;
    top: 10px;
    left: 10px;
}

aside img {
    width: var(--img-width-aside);
    height: auto;
    border: var(--border-thin);
}

main img {
    width: var(--img-width-main);
    height: auto;
    border: 1px solid var(--color-accent);
    padding: var(--space-xs);
    box-shadow: 0 0 30px var(--color-shadow);
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: var(--border-thin);
    text-align: center;
}

/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}